/* グレー系 */
$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

 /* シアン系 */
$dark_cyan: #448888;
$very_dark_cyan: darken($dark_cyan, 25%);

/* マゼンダ系 */
$dark_magenta: #e4007f;


/* 黄色系 */
$dark_yellow: #ffd900;
